
{% include 'admin/admin-includes/header.html' %}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>State Information</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="" class="white-text">state</a></li>
                        <li class="breadcrumb-item active">View State</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex">
                {% comment %} <a class="btn btn-primary me-2" href="/accounts/user-notifications/9/" ><i class="fa fa-bell"></i> Notification</a> {% endcomment %}
                <a class="btn btn-primary me-2" href="{% url 'frontend:edit_state' state.id %}" ><i class="fa fa-pencil me-1"></i> Update</a>
                {% comment %} <a class="btn btn-primary me-2" href="/accounts/user-transactions/9/" ><i class="fa-solid fa-chart-line me-1"></i> Renter Transactions</a> {% endcomment %}
                <a class="btn btn-secondary" href="{% url 'frontend:state_list' %}" ><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-12 col-sm-12 mt-5">
                    <div class="card product-profile-wrapper shadow">
                        <div class="product-detail-wrapper">
                            <div class="profile-imgbox">
                                <a class="product-img" href="{{state.image.url}}" data-fancybox="gallery">
                                    <img style="height: auto;" src="{{state.image.url}}" alt="image">
                                </a> 
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="productdetails">
                                <ul class="product-bar">
                                    <li>
                                        <h4>Banner Title </h4>
                                        <h6> {{state.title}} </h6>
                                    </li>
                                    <li>
                                        <h4>Created On </h4>
                                        <h6>
                                            <script>
                                                var date = ConvertGTime("2023-07-18", "12:21");
                                                document.write(date);
                                            </script>
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Description </h4>
                                        <h6>{{state.description}}</h6>
                                    </li>
                                    
                                </ul>
                            </div>
                             <div class="btn-list border-0 d-flex justify-content-end align-items-center mt-4">
                                        {% if state.is_active %}
                                        <a href="{% url 'frontend:activate_deactivate_state' state.id %}" onclick="Loader()" class="btn btn-success ms-2">UnPublish</a>
                                        {% else %}
                                        <a href="{% url 'frontend:activate_deactivate_state' state.id %}" onclick="Loader()" class="btn btn-success ms-2">Publish</a>
                                        {% endif %}
                                        <a url_link="{% url 'frontend:delete_state' state.id %}" class="btn btn-danger show_confirm ms-2">Delete</a>
                                    
                                </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>
</div>

{% include 'admin/admin-includes/footer.html' %}
