{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}
{% load static %}
{% block content %}

<style>
  .error{
    color:red;
  }
  .active1{
    width: 22px;
    border: 1px solid;
    text-align: center;
    background: #5e72e4;
    margin-left:5px;
    margin-right:5px
  }
  .pagination li a{
    margin-left:5px;
    margin-right:5px;
  }
</style>  

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Project</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Project</a></li>
                <li class="breadcrumb-item active" aria-current="page">Project</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            {% comment %} <a href="#" class="btn btn-sm btn-neutral">New</a> {% endcomment %}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#Add_Material">Add Material</button>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- add Project Modal start -->
<div class="modal fade" id="Add_Material" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="margin-left: 175px;">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Add Material</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id='material_form' method="POST" action="">
        {% csrf_token %}
        <div class="modal-body">
           <div class="form-group">
           {{form.as_p}}
           </div>
        </div>
  
      <div class="modal-footer">
        {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button> {% endcomment %}
        <button type="submit" id='sub' style="margin-right: 191px;" class="btn btn-primary">Submit</button>
      </div>
    </form> 
    </div>
  </div>
</div>
<!-- end of add Project Modal -->


<!-- edit Project Modal start -->
<div class="modal fade" id="Edit_Material" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="margin-left: 175px;">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">Edit Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="edit_project_form" method="POST" action="{% url 'user:edit_project' %}">
        {% csrf_token %}
      <div class="modal-body">
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Project Name</label>
            <input type="text" name="edit_name"  class="form-control" id="edit_name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Project Budget</label>
            <input type="text" name="edit_budget"  class="form-control" id="edit_budget">
          </div>
          <input type="hidden" name="project_id" id="project_id"></input>
          {% comment %} <div class="form-group">
            <label for="recipient-name" class="col-form-label">Project Name</label>
            <input type="text" class="form-control" id="recipient-name">
          </div> {% endcomment %}
      </div>
       
      <div class="modal-footer">
        {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button> {% endcomment %}
        <button type="submit" style="margin-right: 191px;" class="btn btn-primary">Submit</button>
      </div>
    </form> 
    </div>
  </div>
</div>
<!-- end of edit Project Modal -->
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <!-- Dark table -->
    <div class="row">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">Material List</h3>
          </div>
          <div class="table-responsive">
            <table id="table_db" class="table align-items-center table-dark table-flush">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Project</th>
                  <th scope="col" class="sort" data-sort="name">Retailer</th>
                  <th scope="col" class="sort" data-sort="name">Material Type</th>
                  <th scope="col" class="sort" data-sort="budget">quantity</th>
                  <th scope="col" class="sort" data-sort="completion">price per item</th>
                  <th scope="col" class="sort" data-sort="completion">total price</th>
                  <th scope="col" class="sort" data-sort="completion">money paid</th>
                  <th scope="col" class="sort" data-sort="completion">purpose</th>
                  <th scope="col" class="sort" data-sort="completion">created</th>
                  {% comment %} <th scope="col" class="sort" data-sort="completion">updated</th> {% endcomment %}
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="list">
              {% for mat in material %}
              
                <tr>
                    <td>
                        <span class="name mb-0 text-sm">{{mat.project.title}}</span>
                      </td>
                  <th scope="row">

                      <div class="media-body">
                        <span class="name mb-0 text-sm">{{mat.retailer.name}}</span>
                      </div>
                  </th>
                   <td>
                    {% if mat.material_type %}
                    <span class="name mb-0 text-sm">{{mat.material_type}}</span>
                    {% else %}
                    {{mat.manual_material_type}}
                    {% endif %}
                  </td>
                  <td>
                    <span class="name mb-0 text-sm">{{mat.quantity}}</span>
                  </td>
                  <td>
                    <span class="name mb-0 text-sm">&#8377; {{mat.price_per_item}}</span>
                  </td>

                  <td>
                    <span class="name mb-0 text-sm">&#8377; {{mat.total_price}}</span>
                  </td>

                  <td>
                    <span class="name mb-0 text-sm">{% if mat.money_paid %}&#8377; {{mat.money_paid}}{% else %}-{% endif %}</span>
                  </td>
                  <td>
                    <span class="name mb-0 text-sm">{% if mat.purpose %}{{mat.purpose|truncatechars:20}}{% else %}-{% endif %}</span>
                  </td>

                  <td>
                    <span class="name mb-0 text-sm">{{mat.created_at}}</span>
                  </td>
                  {% comment %} <td>
                    <span class="name mb-0 text-sm">{{mat.updated_at}}</span>
                  </td> {% endcomment %}

                 
                  
                  <td class="text-right">
                   
                      <div class="d-flex align-items-center">
                        <a class="p-2" href=""><button class=" btn btn-success btn-sm" >View</button></a>
                       <button onclick="clicked({{p.id}})"  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Edit_Material">Edit</button>
                        <a href=""><button class=" btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button></a>
                      </div>
                    {% comment %} </div> {% endcomment %}
                  </td>
                </tr>
              {% endfor %}

                
              </tbody>
            </table>
<div class='container mx-auto' style='width:fit-content'>
  {% if material.has_other_pages %}
  <ul class="pagination">
    {% if material.has_previous %}
      <li><a href="?page={{ material.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in material.paginator.page_range %}
      {% if material.number == i %}
        <li class="active1"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if material.has_next %}
      <li><a href="?page={{ material.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}


<script>
function clicked(id){
  $('#project_id').val(id)
    $.ajax({
      url:"/get-privous-project/{{id}}" +id,
      type:"GET",
      //dataType : 'json',
      success: function( response ) 
        {
            $('#edit_name').val(response.project_title)
            $('#edit_budget').val(response.project_budget)
        }
    })
   }
</script>  
<script>
  $( document ).ready(function() {
    var utc = new Date().toJSON().slice(0,10).replace(/-/g,'-');
    //alert(utc)
  });
</script>   

<script>
    $("#material_form").validate({
      rules: {
        material_type: {
             required: false,
        },    
        retailer: {
          required: true,
       },             
        figure: {
             required: true,
        },
        unit: {
            required: true,
       },  
        price_per_item: {
          required: true,
       },
     //  money_paid: {
     //   required: true,
     //},                 
    },
       
    messages: {
        material_type: "Please Select Material Type", 
       // retailer: "Please Select Retailer", 
       // project: "Please Select Project", 
        figure: "Please Enter Number Of Items",             
        unit: "Please Select unit",             
        price_per_item: "Please Enter price per Item",             
       // money_paid: "Please Enter Money Paid",             
  }
})
</script> 



{% endblock javascripts %}
