{% include 'frontend_includes/header.html' %}
{% load static %}

<header class="" name="home">
    {% comment %} <div class="box-shadow"> {% endcomment %}
        <div class="overview">

            {% if trek %}
            <img src="{{trek.t_image.all.first.image.url}}" alt="Mountain Overview">
            {% elif state %}
            <img src="{{state.image.url}}" alt="Mountain Overview">
            {% elif district %}
            <img src="{{district.image.url}}" alt="Mountain Overview">
            {% endif %}

            {% if trek %}

            <div class="text-container text-center">
                <h3>{{trek.title}}</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class='bread-text' href="{% url 'frontend:index' %}">Home</a></li>
                      <li class="breadcrumb-item"><a class='bread-text' href="{% url 'frontend:state_detail' trek.district.state.id %}">{{trek.district.state.title}}</a></li>
                      <li class="breadcrumb-item"><a class='bread-text' href="{% url 'frontend:district_detail' trek.district.id %}">{{trek.district.title}}</a></li>
                      <li class="breadcrumb-item active bread-text" style='color:#fff' aria-current="page">{{trek.title}}</li>
                    </ol>
                  </nav>
            </div>
            {% elif district %}
            <div class="text-container text-center">
                <h3>{{district.title}}</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class='bread-text' href="{% url 'frontend:index' %}">Home</a></li>
                      <li class="breadcrumb-item"><a class='bread-text' href="{% url 'frontend:state_detail' district.state.id %}">{{district.state.title}}</a></li>
                      <li class="breadcrumb-item active bread-text" style='color:#fff' aria-current="page">{{district.title}}</li>
                    </ol>
                  </nav>
            </div> 

        
            {% elif state %}
            <div class="text-container text-center">
                <h3>{{state.title}}</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class='bread-text' href="{% url 'frontend:index' %}">Home</a></li>
                      <li class="breadcrumb-item active bread-text" style='color:#fff' aria-current="page">{{state.title}}</li>
                    </ol>
                  </nav>
            </div> 
            {% endif %}

        </div>
    {% comment %} </div> {% endcomment %}
</header>


<div id="page-content" style="margin-top:35px "class="sub-page">
    <div id="main-content">
        <article>
            <div class="container">

                <h1 class="text-center">An Overview</h1>
                    <p>
                        {% if trek %}
                        {{trek.description}}
                        {% elif state %}
                        {{state.description}}
                        {% elif district %}
                        {{district.description}}
                        {% endif %}
                    </p>
                  


                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    <blockquote><p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet vultatup duista.</p></blockquote>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril.</p>
                    <h2>Heading 1</h2>
                    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse lorem ipsum dolor sit amet.</p>
                    <h2>Heading 2</h2>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. At vero eos et accusam et justo.</p>
                    <h2>Heading 3</h2>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum hendrerit in vulputate velit esse molestie.</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                    <p><code>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</code></p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    <div class="note">
                      <ol>
                        <li>Lorem ipsum</li>
                        <li>Sit amet vultatup nonumy</li>
                        <li>Duista sed diam</li>
                      </ol>
                      <div class="clear"></div>
                    </div>
                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.</p>
                </div>
            </div>
        </article>
    </div>
</div>

{% include 'frontend_includes/footer.html' %}	
