
{% include 'admin/admin-includes/header.html' %}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Districts</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/product/category-listing/" class="white-text">Districts</a></li>
                        <li class="breadcrumb-item active">Add District</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn">
                <a class="btn btn-secondary" href="" ><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="card shadow">
            <div class="card-body">
                <form onsubmit="Loader(this.id)" id="add-category" action="{% url 'frontend:add_district' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Name</label>
                                <input type="text" placeholder="Please Enter Title" name="title" id="title" class="form-control" maxlength="100">
                                <label class="category-error" style="color:red"></label>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                              <label class="form-control-label" for="input-first-name">State</label>
                              <select class="form-control" name='state' aria-label="Default select example">
                                <option value>Select State</option>
                                {% for state in states %}
                                <option value='{{state.id}}'>{{state.title}}</option>
                                {% endfor %}
                              </select>                       
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-6 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">District Image</label>
                                <input type="file" name="image" id='image' class="form-control" >
                            </div>
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-12" id='description_error'>
                            <div class="form-group">
                                <label class="form-label">Description</label>
                                <textarea rows="4" placeholder="Please Enter Description" name="description" id="description" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 text-end">
                            <button type="submit" class="btn btn-success me-2">Save</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include 'admin/admin-includes/footer.html' %}
